---
import './styles.css'
import { JoinButton } from '../Header/JoinButton'

interface Props {
  navItems: { href: string; text: string }[]
}

const { navItems } = Astro.props
---

<label class='popup md:hidden inline-block' aria-label='Abrir o cerrar menú de navegación'>
  <input type='checkbox' />
  <div class='burger' tabindex='-1'>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class='popup-window' aria-label='Navegación principal'>
    <p class='popup-nav-title'>Menú</p>
    <ul>
      {
        navItems.map((item) => (
          <li>
            <a class='submenu-link' href={item.href}>
              {item.text}
            </a>
          </li>
        ))
      }
      <li class='mt-3 flex px-2 pb-2'>
        <JoinButton client:idle />
      </li>
    </ul>
  </nav>
</label>
