---
import Layout from 'src/modules/global/layouts/Layout.astro'
import SectionDivider from 'src/modules/home/components/SectionDivider.astro'
import AboutUsInfo from 'src/modules/about-us/components/AboutUsInfo.astro'
import OurCulture from 'src/modules/about-us/components/OurCulture.astro'
import AdminsInfo from 'src/modules/about-us/components/AdminsInfo.astro'
---

<Layout title='Acerca de | Share IT' fullWidth={true}>
  <main class='bg-gray-900'>
    <AboutUsInfo />

    <SectionDivider />

    <OurCulture />

    <SectionDivider />

    <AdminsInfo />
  </main>
</Layout>
