---
interface Props {
	title: string;
	description: string;
	size?: string;
}

const { title, description, size } = Astro.props;
---

<article
	class=`card-share-it relative block p-6 border rounded-lg border-[#368beb] hover:border-[#83D6E7] bg-gradient-to-br transition-all duration-300 from-[#1a1f2e] via-[#1e2332] to-[#2a2f3e] hover:from-[#1e2332] hover:via-[#2a2f3e] hover:to-[#314aa9]/20 ${size}`>
	<p class='card-title text-lg font-bold text-primary'>{title}</p>
	<p class='text-gray-300 text-sm'>
		{description}
	</p>
</article>
