---
import Events from "./Events.astro";
import Repositories from "./Repositories.astro";
---

<div x-data="{ tab: 'repositories' }" class="w-full">
  <ul
    class="flex items-center justify-center mb-8 text-sm font-medium text-center text-gray-400"
  >
    <li class="me-2">
      <button
        class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg font-semibold cursor-pointer transition-colors duration-200"
        :class="tab === 'repositories' ? 'text-cyan-300 border-cyan-300' : 'hover:text-cyan-300 hover:border-cyan-300 border-transparent'"
        @click="tab = 'repositories'"
      >
        Repositorios
      </button>
    </li>
    <li class="me-2">
      <button
        class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg font-semibold cursor-pointer transition-colors duration-200"
        :class="tab === 'events' ? 'text-cyan-300 border-cyan-300' : 'hover:text-cyan-300 hover:border-cyan-300 border-transparent'"
        @click="tab = 'events'"
      >
        Eventos
      </button>
    </li>
  </ul>

  <div x-show="tab === 'repositories'" x-transition>
    <Repositories />
  </div>
  <div x-show="tab === 'events'" x-transition>
    <Events />
  </div>
</div>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
